.bannerDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background-image: url('../../images/hero-banner.jpg');
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 75%;
  width: 100%;
  align-items: center;
}

.bigTitle {
  font-size: 5em;
  color: white;
}

@media only screen and (max-width: 600px) {
  .bannerDisplay {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bigTitle {
    text-align: center;
  }
}
