.cardContainer {
  font-family: Roboto;
  display: block;
  background-color: rgb(57, 57, 57);
  color: white;
  padding: 1rem;
  max-width: 250px;
  max-height: 200px;
}

.cardHeader {
  font-family: Roboto;
  font-size: 1.25rem;
}

