@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("https://fonts.googleapis.com/css?family=Alata:400,700");
@import "~bulma/bulma.sass";
$title-color: #181818;
$title-family: "Alata";
$title-size: 2.75rem;
$title-main-color: rgb(36, 36, 36);

$purple: rgb(138, 77, 77);
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: rgb(255, 255, 255);
$primary: darkred;
$background: darkred;
$family-sans-serif: "Ubuntu", sans-serif;

.navbar,
.navbar-brand,
.navbarBasicExample,
.navbar-start {
  background-color: white;
}

.sub-title {
  font-family: "Ubuntu";
  font-size: 1.45rem;
  font-variant-caps: all-petite-caps;
}

.display-title {
  font-family: "Alata";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.display {
  padding: 3em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.646), rgba(0, 0, 0, 0.05));
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.question {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

.answer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

.que:hover {
  background-color: rgb(231, 231, 231);
  font-weight: bolder;
  cursor: pointer;
}

.answer:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer-links {
  color: #b5b5b5;
  display: flex;
  flex-direction: column;
}

.footer-items {
  color: #b5b5b5;
}

.gray {
  font-weight: 400;
  color: #b5b5b5;
  font-variant-caps: small-caps;
}

.social-links {
  display: inline-flex;
  align-items: center;
  justify-items: flex-end;
  fill: #757763;
}

.social-links-item {
  margin: 0rem .5rem;
}

.display-none {
  display: none;
}