.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 3em;
}

.heading {
  color: darkred;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
  text-align: center;
}

.cardContainer {
  margin: 0em 3em;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

